/*-----------------------------------ARTICLE----------------------------------------*/



.article__content {
    background-color: #d9d9d9;
    flex: 1 1 70%;
    padding: 20px;
}


.article__top {
    display: flex;
    justify-content: space-between;
}

.article__title {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.article__flex {
    display: flex;
    justify-content: space-between;
}

.article__views {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 24px;
    color: #9a9696;
    margin-bottom: 30px;
}

.article__number-of-views {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #9a9696;
    margin-bottom: 30px;
}

.article__image {
    width: 100%;
    margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/
.article__main-title {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.article__subtitle {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.article__text {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}

/*-------------------------------------------------------------------------------------*/
.article__comments-title {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.article__add-comments {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.article__comments {}

.article__commentator {
    display: flex;
    gap: 30px;
}

.commentator {
    margin-bottom: 20px;
}

.commentator__img {
    width: 100px;

}

.commentator__content {}

.commentator__name {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.commentator__when {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: gray;
    margin-bottom: 10px;
}

.commentator__text {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 10px;
}

/*---------------------------------------------------------------------------------------------*/
.article__comment-title {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.article__comment-form {}

.article__comment-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.article__comment-input {
    width: 300px;
    height: 50px;
    border: 1px solid gray;
}

.article__comment-textarea {
    width: 100%;
    margin-bottom: 10px;
}

.article__comment-button {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.new-comments__flex {
    display: flex;
    justify-content: space-between;
}

.new-comments__add-comment {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #9a9696;
    margin-bottom: 30px;
}